name: Release

on:

  push:

    tags:

      - 'v*'

    branches:

      - main



env:

  IMAGE_NAME: ${{ github.repository }}



jobs:

  release:

    name: Release Binary and Docker

    runs-on: ubuntu-latest

    container:

      image: goreleaser/goreleaser-cross:v1.24

    permissions:

      contents: write

      packages: write

      id-token: write



    steps:

      - name: Checkout

        uses: actions/checkout@v4

        with:

          fetch-depth: 0

      

      - name: Fix git permissions

        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"



      - name: Install UPX

        uses: crazy-max/ghaction-upx@v3

        with:

          install-only: true



      - name: Set up QEMU

        uses: docker/setup-qemu-action@v3



      - name: Set up Docker Buildx

        uses: docker/setup-buildx-action@v3



      - name: Log in to GitHub Container Registry

        if: startsWith(github.ref, 'refs/tags/')

        uses: docker/login-action@v3

        with:

          registry: ghcr.io

          username: ${{ github.actor }}

          password: ${{ secrets.GITHUB_TOKEN }}



      - name: Log in to Docker Hub

        if: startsWith(github.ref, 'refs/tags/')

        uses: docker/login-action@v3

        with:

          username: ${{ secrets.DOCKERHUB_USERNAME }}

          password: ${{ secrets.DOCKERHUB_TOKEN }}



      - name: Run GoReleaser (Release)

        if: startsWith(github.ref, 'refs/tags/')

        run: goreleaser release --clean

        env:

          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}



      - name: Run GoReleaser (Snapshot)

        if: "!startsWith(github.ref, 'refs/tags/')"

        run: goreleaser build --snapshot --clean



      - name: Upload Artifacts

        if: "!startsWith(github.ref, 'refs/tags/')"

        uses: actions/upload-artifact@v4

        with:

          name: chatlog-snapshot

          path: dist/chatlog_windows_amd64_v1/chatlog.exe
